.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    min-height: 100vh;
}

.row {
    display: flex;
    gap: 4rem;
    max-width: 1120px;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    width: 100vw;
    margin: 4rem auto;
    gap: 3rem;
    background-color: red;
}

.tiles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 16px;
    width: 100%;
    background-color: green;
}
.table-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem auto;
    flex-grow: 2;
    width: 100%;
    align-items: center;
    max-width: 1120px;
    background-color: blue;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
